langchain==0.3.4
fastapi==0.115.2
uvicorn==0.32.0
streamlit==1.39.0
chromadb==0.5.11
requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==1.0.1
playwright==1.48.0
PyMuPDF==1.24.9
PyPDF2>=3.0.1
langchain-chroma==0.1.4
langchain-huggingface>=0.0.1
